<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <div class='container'>
    <h1>AirBnD User Data</h1>

    <div class="row">
        <input id="sessions" type="text" placeholder="Number of Sessions">
        <input id="length" type="text" placeholder="Total Length of Sessions">
        <input id="submit" type="submit" value="Submit">
    </div>

    <div class='row'>
        <h3>High User</h3>
    <!-- For building charts, modified the boilerplate given in the chart.js docs -->
      <canvas id="myChart-1"></canvas>
    </div>
  </div>
</body>
</html>
